div.hc-set ul li { float:left; list-style:none; position:relative;}
div.hc-set ul ul li {padding: 7px 0px;}
div.hc-set ul li:hover {}
div.hc-set ul li a { display: block; color:#fff; padding: 10px 5px;}
div.hc-set ul li a:hover { color:#00b0c5;}
div.hc-set ul li ul.sub-menu { z-index:1; display:none; position:absolute; top: 100%; padding-top: 20px; width: 250px; background-color: #1a1a1a; }
div.hc-set ul li ul.sub-menu li { float:none; display: block; padding: 0; margin: 0; }
div.hc-set ul li ul.sub-menu li a { color:#fff; padding: 10px 15px; }
div.hc-set ul li ul.sub-menu li:hover a { color:#00b0c5; }
div.hc-set ul li ul.sub-menu li:hover li a { color: #fff; }
div.hc-set ul li ul.sub-menu li:hover li:hover a { color: #00b0c5; }
div.hc-set ul li ul.sub-menu li:hover li:hover li a { color: #fff; }
div.hc-set ul li ul.sub-menu li:hover li:hover li:hover a { color: #00b0c5; }
div.hc-set ul li ul.sub-menu li ul.sub-menu { display:none; left: 100%; top:0; padding-top: 0; }